{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'parts/hero.html' %}
  {% include 'parts/filter_bar.html' %}

  <!-- ── MAIN GRID ── -->
  <section class="articles-section">
    <div class="container">
      <div class="main-grid">
        <!-- Left: Article feed -->
        <div class="feed" id="articleFeed">
          <!-- Article card: regular -->
          {% for post in posts %}
          <article class="article-card" data-cat="science">
            <a href="{% url 'post_detail' post.published_at.year post.published_at.month post.published_at.day post.slug %}" class="card-img-wrap">
              <div class="card-img sci-img">
                <div class="img-abstract img-a2"></div>
              </div>
              <span class="card-badge">{{ post.category.name }}</span>
            </a>
            <div class="card-content">
              <h2 class="card-title">
                <a href="{% url 'post_detail' post.published_at.year post.published_at.month post.published_at.day post.slug %}">
                  {{ post.title }}
                </a>
              </h2>
              <p class="card-excerpt">
                {{ post.content|truncatewords:30 }}
              </p>
              <div class="card-footer">
                <div class="card-author">
                  <div class="avatar sm av4">{{ post.author.first_name|first }}{{ post.author.last_name|first }}</div>
                  <span>{{ post.author }}</span>
                </div>
                <div class="card-stats">
                  <span class="stat">{{ post.published_at }}</span>
                  <span class="stat-sep">·</span>
                  <span class="stat">{{ post.reading_time }} min</span>
                  <span class="stat-sep">·</span>
                  <span class="stat views">
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                      />
                      <circle cx="12" cy="12" r="3" />
                    </svg>
                      {{ post.views }}
                  </span>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          <div class="load-more-wrap">
            <button class="btn-load-more" id="loadMore">
              Load more articles
            </button>
          </div>
        </div>
        <!-- /feed -->

        <!-- Right: Sidebar -->
        {% include 'parts/sidebar.html' %}
      </div>
    </div>
  </section>

  {% include 'parts/editors_picks.html' %}
{% endblock %}
